<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <div class="submitPage">
        <h1>Task Manager</h1>
        <form action="/task" method="POST">
            <div class="title">
                <input name="title" placeholder="Title" id="title" required>
            </div>
            <div class="description">
                <input name="description" placeholder="Description" id="description" required >
            </div>
            <div class="submit">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="tasks">
        <h2>Tasks</h2>
        <ul id="taskList">
            <% task.forEach(task => { %>
                <li>
                    <strong><%= task.title %></strong>: <%= task.description %>
                    <form action="/task/<%= task._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    
                </li>
            <% }) %>
        </ul>
        
    </div>
</body>
</html>