<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
        <form action="register" method="POST">
            <input type="text" name ="username" id="username" placeholder="Username" required>
            <input type="email" name ="email" id="email" placeholder="Email" required>
            <input type="password" name ="password"id="password" placeholder="Password" required minlength="8">

            <button type ="submit" >Submit</button>
</form>
</body>
</html>